* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  min-height: 200vh;
}
/* Styling the outer-container */
.outer-container {
  border: 3px dotted black;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}
/* Styling the inner-container */
.inner-container {
  border: 2px solid black;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
  /* position: relative; */
}
/* Styling the boxes */
.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}
/* Absolute needs reletive parent or ancesters and if we have parent then it will chose it's parent */
.absolute {
  background-color: #00f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/*  */
.reletive {
  background-color: red;
  position: relative;
  top: 50px;
  left: 100px;
}
/*  */
.fixed {
  background-color: green;
  position: fixed;
  top: 100px;
  /* opacity: 0.25; */
}
/*  */
.sticky {
  background-color: black;
  position: sticky;
  top: 0;
}

/* ///////////////////////////////// */
html{scroll-behavior: smooth;}
section {
  height: 100vh;
}

.blue {
  background-color: #00f;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

header,
footer {
  color: #fff;
  text-align: center;
  height: 100px;
}

header {
  position: sticky;
  font-size: 4.5rem;
  top: 0;
}

footer{
  background-color: #000;
  position: sticky;
  bottom: 0;
  font-size: 3rem;
  /* width: 100%; */
}

a:visited{
  color: #fff;

}